<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!--Point Of Sale - Restaurant module for OpenERP                           -->
<!--Copyright (C) 2014 GRAP (http://www.grap.coop)                          -->
<!--@author Sylvain LE GAL (https://twitter.com/legalsylvain)               -->

<!--This program is free software: you can redistribute it and/or modify    -->
<!--it under the terms of the GNU Affero General Public License as          -->
<!--published by the Free Software Foundation, either version 3 of the      -->
<!--License, or (at your option) any later version.                         -->

<!--This program is distributed in the hope that it will be useful,         -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of          -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           -->
<!--GNU Affero General Public License for more details.                     -->

<!--You should have received a copy of the GNU Affero General Public License-->
<!--along with this program.  If not, see <http://www.gnu.org/licenses/>.   -->
<!-- ********************************************************************** -->
<openerp>
    <data>
<!-- Menu: Point Of Sale -->
        <menuitem id="menu_pos_restaurant"
            name="Restaurant"
            parent="point_of_sale.menu_point_root"
            sequence="50"/>

        <menuitem id="menu_table"
            name="Restaurant tables"
            parent="menu_pos_restaurant"
            action="action_view_pos_table"
            sequence="1"/>

<!-- Menu: DashBoard -->
        <menuitem id="menu_pos_restaurant_dashboard"
            name="Restaurant"
            parent="point_of_sale.menu_point_rep"
            groups="res_group_restaurant_user"
            sequence="5"/>

        <menuitem id="menu_pos_covers_report_agregate"
            name="Covers / Overview"
            parent="menu_pos_restaurant_dashboard"
            sequence="1"
            action="action_pos_covers_report_agregate"/>

        <menuitem id="menu_pos_covers_day_report"
            name="Covers / Day"
            parent="menu_pos_restaurant_dashboard"
            sequence="2"
            action="action_pos_covers_day_report"/>

        <menuitem id="menu_pos_covers_week_report"
            name="Covers / Week"
            parent="menu_pos_restaurant_dashboard"
            sequence="3"
            action="action_pos_covers_week_report"/>

        <menuitem id="menu_pos_covers_month_report"
            name="Covers / Month"
            parent="menu_pos_restaurant_dashboard"
            sequence="4"
            action="action_pos_covers_month_report"/>

        <menuitem id="menu_pos_covers_week_day_report"
            name="Covers / Week Day"
            parent="menu_pos_restaurant_dashboard"
            sequence="4"
            action="action_pos_covers_week_day_report"/>
    </data>

</openerp>
