<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!--    Sale - eShop for Odoo                                               -->
<!--    Copyright (C) 2014- Today GRAP (http://www.grap.coop)               -->
<!--    @author Sylvain LE GAL (https://twitter.com/legalsylvain)           -->

<!--This program is free software: you can redistribute it and/or modify    -->
<!--it under the terms of the GNU Affero General Public License as          -->
<!--published by the Free Software Foundation, either version 3 of the      -->
<!--License, or (at your option) any later version.                         -->

<!--This program is distributed in the hope that it will be useful,         -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of          -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           -->
<!--GNU Affero General Public License for more details.                     -->

<!--You should have received a copy of the GNU Affero General Public License-->
<!--along with this program.  If not, see <http://www.gnu.org/licenses/>.   -->
<!-- ********************************************************************** -->
<!-- ********************************************************************** -->
<openerp>
    <data>

        <menuitem id="menu_eshop" 
            name="eShop" sequence="75"
            parent="base.menu_base_config"/>

        <menuitem id="menu_eshop_category" 
            parent="menu_eshop" 
            name="eShop Categories" sequence="1"
            action="action_eshop_category"/>

        <menuitem id="menu_product_product"
            parent="base.menu_product"
            name="Products (eShop)" sequence="5"
            action="action_product_product"/>

    </data>
</openerp>
