<?xml version="1.0" encoding="utf-8"?>
<!-- *********************************************************************** -->
<!-- See __openerp__.py file for Copyright and Licence Informations.         -->
<!-- *********************************************************************** -->
<openerp>
    <data>
        <!-- menuitem for specific action of module 'ebp_export' -->
        <menuitem id="menu_export_ebp"
            name="OpenERP - EBP"
            parent="account.menu_finance"
            sequence="12"/>

        <menuitem id="menu_partner_suffix"
            name="Partner Suffix"
            parent="menu_export_ebp"
            action="action_partner_suffix_tree"
            sequence="1"/>

        <menuitem id="menu_account_tax_code_suffix"
            name="Tax Code Suffix"
            parent="menu_export_ebp"
            action="action_account_tax_code_suffix_tree"
            sequence="2"/>

        <menuitem id="menu_account_ebp_export"
            name="EBP exports"
            parent="menu_export_ebp"
            action="action_ebp_export_tree"
            sequence="3"/>
    </data>
</openerp>
