<?xml version="1.0" encoding="utf-8"?>
<!-- *********************************************************************** -->
<!-- See __openerp__.py file for Copyright and Licence Informations.         -->
<!-- *********************************************************************** -->
<openerp>
    <data>
        <menuitem id="menu_account_fix_period_account_move"
            name="Fix Periods"
            parent="account.menu_finance_periodical_processing"
            action="action_account_period_fix_period_tree"
            sequence="35"/>
    </data>
</openerp>
