@charset "utf-8";

/* GENERAL - Tree View ----------------------------------------------------- */
/*    Add an hover effect on tree view rows*/
.openerp .oe_list_content tbody tr:hover{
  background: #F0F0E0;
}

.openerp .oe_searchview_drawer dt{
    width: 110px; /* before 160px */
}

.openerp .oe_searchview_drawer dd{
    margin-left: 120px /* before 180px */
}


.openerp .oe_searchview_drawer .col-md-7{
    width:45%;
}

.openerp .oe_searchview_drawer .col-md-5{
    width:55%;
}

/* GENERAL - Form View ----------------------------------------------------- */
/*Reduce blank space arround group*/
.openerp .oe_form .oe_form_group {
    margin: 0px;
}
/*Reduce blank space before separator*/
.openerp .oe_horizontal_separator {
    margin: 6px 0px 0px;
}

/* purchase - view_purchase_order_form --------------------------------------------- */
.grap_change_views__view_purchase_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_purchase_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_purchase_order_form [data-id="product_qty"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_purchase_order_form [data-id="price_subtotal"]      {width: 6%;}


/* sale - view_sale_order_form --------------------------------------------- */
.grap_change_views__view_sale_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_sale_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_sale_order_form [data-id="product_uom_qty"]     {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_sale_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_subtotal"]      {width: 6%;}


/* point_of_sale - view_pos_order_form  ------------------------------------ */

.grap_change_views__view_pos_order_form [data-id="product_id"]          {width: 50%;}
.grap_change_views__view_pos_order_form [data-id="qty"]                 {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_unit"]          {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="discount"]            {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal"]      {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal_incl"] {width: 10%;}

/* account - view_account_move_form                                           */

.grap_change_views__view_account_move_form [data-id="invoice"]              {width: 3%;}
.grap_change_views__view_account_move_form [data-id="name"]                 {width: 18%;}
.grap_change_views__view_account_move_form [data-id="partner_id"]           {width: 12%;}
.grap_change_views__view_account_move_form [data-id="account_id"]           {width: 18%;}
.grap_change_views__view_account_move_form [data-id="date_maturity"]        {width: 7%;}
.grap_change_views__view_account_move_form [data-id="debit"]                {width: 8%;}
.grap_change_views__view_account_move_form [data-id="credit"]               {width: 8%;}
.grap_change_views__view_account_move_form [data-id="tax_code_id"]          {width: 10%;}
.grap_change_views__view_account_move_form [data-id="tax_amount"]           {width: 5%;}
.grap_change_views__view_account_move_form [data-id="state"]                {width: 5%;}
.grap_change_views__view_account_move_form [data-id="reconcile_id"]         {width: 3%;}
.grap_change_views__view_account_move_form [data-id="reconcile_partial_id"] {width: 3%;}

/* Point Of Sale Front-Office - Improve delete payment button */

.point-of-sale a.delete-payment-line {
    height: 40px;
    width: 40px;
    border: 1px solid #CACACA;
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(#F0F0F0, #E2E2E2) repeat scroll 0% 0% transparent;
}

.point-of-sale td.pos-right-align img {
    height: 36px;
    width: 36px;
    margin: 2px;
}

/* Point Of Sale Front-Office - Improve value input option */

.point-of-sale td.pos-right-align input {
    height: 36px;
}

/* Point Of Sale Front-Office - Improve clear search button */

.point-of-sale img.search-clear {
    display: inline-block;
    height: 30px;
    top: 5px;
    right: 20px;
    border: 1px solid #CACACA;
    border-radius: 4px;
    background: linear-gradient(#F0F0F0, #E2E2E2) repeat scroll 0% 0% transparent;
}
