@charset "utf-8";

/* GENERAL - Tree View ----------------------------------------------------- */
/*    Add an hover effect on tree view rows*/
.openerp .oe_list_content tbody tr:hover{
  background: #F0F0E0;
}

/* GENERAL - Tree View Improve Search Zone --------------------------------- */
.openerp .oe_searchview_drawer dt{
    width: 110px; /* before 160px */
}

.openerp .oe_searchview_drawer dd{
    margin-left: 120px /* before 180px */
}

.openerp .oe_searchview_drawer .col-md-7{
    width:45%;
}

.openerp .oe_searchview_drawer .col-md-5{
    width:55%;
}

/* GENERAL - Form View ----------------------------------------------------- */
/*Reduce blank space arround group*/
.openerp .oe_form .oe_form_group {
    margin: 0px;
}
/*Reduce blank space before separator*/
.openerp .oe_horizontal_separator {
    margin: 6px 0px 0px;
}


/* purchase - view_purchase_order_form --------------------------------------------- */
.grap_change_views__view_purchase_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_purchase_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_purchase_order_form [data-id="product_qty"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_purchase_order_form [data-id="price_subtotal"]      {width: 6%;}


/* sale - view_sale_order_form --------------------------------------------- */
.grap_change_views__view_sale_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_sale_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_sale_order_form [data-id="product_uom_qty"]     {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_sale_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_subtotal"]      {width: 6%;}


/* point_of_sale - view_pos_order_form  ------------------------------------ */
.grap_change_views__view_pos_order_form [data-id="product_id"]          {width: 50%;}
.grap_change_views__view_pos_order_form [data-id="qty"]                 {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_unit"]          {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="discount"]            {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal"]      {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal_incl"] {width: 10%;}


/* account - view_account_invoice_customer_form --------------------------------------------- */
.grap_change_views__view_account_invoice_customer_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_account_invoice_customer_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_account_invoice_customer_form [data-id="quantity"]            {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="uos_id"]              {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="discount"]            {width: 5%;}
.grap_change_views__view_account_invoice_customer_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_account_invoice_customer_form [data-id="price_subtotal"]      {width: 6%;}


/* account - view_account_invoice_supplier_form --------------------------------------------- */
.grap_change_views__view_account_invoice_supplier_form [data-id="product_id"]          {width: 31%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="quantity"]            {width: 6%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="uos_id"]              {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="price_unit"]          {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="discount"]            {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="discount2"]           {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="tax_ids_description"] {width 12%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="price_subtotal"]      {width: 6%;}

.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="product_id"]                 {width: 52%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_price"]              {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_price"]                  {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_discount"]           {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_discount"]               {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_discount2"]          {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_discount"]               {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_standard_price"]     {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_standard_price"]         {width: 6%;}




/* account - view_account_move_form                                           */
.grap_change_views__view_account_move_form [data-id="invoice"]              {width: 3%;}
.grap_change_views__view_account_move_form [data-id="name"]                 {width: 18%;}
.grap_change_views__view_account_move_form [data-id="partner_id"]           {width: 12%;}
.grap_change_views__view_account_move_form [data-id="account_id"]           {width: 18%;}
.grap_change_views__view_account_move_form [data-id="date_maturity"]        {width: 7%;}
.grap_change_views__view_account_move_form [data-id="debit"]                {width: 8%;}
.grap_change_views__view_account_move_form [data-id="credit"]               {width: 8%;}
.grap_change_views__view_account_move_form [data-id="tax_code_id"]          {width: 10%;}
.grap_change_views__view_account_move_form [data-id="tax_amount"]           {width: 5%;}
.grap_change_views__view_account_move_form [data-id="state"]                {width: 5%;}
.grap_change_views__view_account_move_form [data-id="reconcile_id"]         {width: 3%;}
.grap_change_views__view_account_move_form [data-id="reconcile_partial_id"] {width: 3%;}
